/* Raleway 400, 700
Cherry Swish 400
Playfair Display 400*/

html,
body,
p {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

img {
    max-width: 100%;
}

.centered {
    font-family: 'Cherry Swash', cursive;
    font-weight: 400;
    font-size: 5.5vw;
    color: #fff;
    position: absolute;
    white-space: nowrap;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 7px 7px 5px rgba(68, 68, 68, 0.45);
}

.subhead h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.75em;
    width: 84%;
    margin: auto;
    text-align: left;
    padding-top: 7%;
}

.emphasis1 {
    color: #016937;
}

.emphasis2 {
    color: #6B8AA3;
}

.info div p span {
    font-weight: 700;
    font-size: 1.3em;
    display: block;
    margin-bottom: -2%;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    float: left;
    width: 34%;
    padding: 8%;
    font-size: 1.25em;
    line-height: 1.6;
}

footer {
    font-family: 'Raleway', sans-serif;
    background: #6B8AA3;
    opacity: 0.9;
    position: relative;
    bottom: 0;
    display: table;
    width: 100%;
    filter: alpha(opacity=90) progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

footer div h4 {
    color: #fff;
    margin: auto;
    line-height: 1.5em;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: inherit;
}

/* Media Queries: -----------------------------------------*/


@media screen and (max-width: 800px) {
    .subhead h1 {
        font-size: 1.8em;
        line-height: 1.48em;
    }

    .info div p span {
        font-size: 1.1em;
        margin-bottom: -4%;
    }

    p {
        width: 80%;
        padding: 6% 8% 0% 8%;
        font-size: 1em;
        line-height: 1.9;
    }

    .padbottom {
        padding-bottom: 8%;
    }

    footer div h4 {
        width: 80%;
        font-size: .75em;
    }
}

@media screen and (max-width: 630px) {
    .subhead h1 {
        font-size: 1.6em;
        line-height: 1.5em;
    }
}

@media screen and (max-width: 480px) {
    .subhead h1 {
        font-size: 1.35em;
        line-height: 1.6em;
    }

    .info div p span {
        font-size: 1.1em;
        margin-bottom: -7%;
    }

    p {
        width: 80%;
        padding: 6% 8% 0% 8%;
        font-size: 1em;
        line-height: 1.8;
    }

    footer div h4 {
        width: 80%;
        font-size: .75em;
    }
}

/* iPhone 8 plus */
@media screen and (max-width: 414px) {
    .subhead h1 {
        font-size: 1.4em;
        line-height: 1.55em;
    }

    .info div p span {
        font-size: 1.1em;
        margin-bottom: -7%;
    }

    /* iPhone 8 */
    @media screen and (max-width: 375px) {
        .subhead h1 {
            font-size: 1.25em;
        }
    }
}